@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans:wght@400;700&display=swap");

:root {
  --text-color: #000;
  --background-color: #fff;
  --link-color: rgb(18, 80, 196);
  --link-hover-color: rgb(17, 93, 235);
  --primary: rgb(0, 153, 255);
  --primary-hover: rgb(11, 140, 226);
  --primary-active: rgb(66, 179, 255);
  --button-background: #fff;
  --button-background-hover: #dff2ff;
  --button-background-active: #b1e0ff;
  --disabled: rgba(226, 226, 226, 0.384);
  --disabled-text: rgba(0, 0, 0, 0.164);
  --border-color: #ccc;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #222;
    --link-color: rgb(18, 80, 196);
    --link-hover-color: rgb(17, 93, 235);
    --button-background: #283338;
    --button-background-hover: #23343d;
    --button-background-active: #24465e;
    --disabled: rgba(149, 194, 224, 0.384);
    --disabled-text: rgba(255, 255, 255, 0.521);
    --border-color: #181818;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--text-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--text-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  border: solid 1px var(--border-color);
  background-color: var(--button-background);
  color: var(--text-color);
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-background-hover);
}

.button:active {
  background-color: var(--button-background-active);
}

.button.primary {
  background-color: var(--primary);
  color: #fff;
}

.button.primary:hover {
  background-color: var(--primary-hover);
}

.button.primary:active {
  background-color: var(--primary-active);
}

.button:disabled {
  background-color: var(--disabled) !important;
  cursor: not-allowed;
  color: var(--disabled-text);
}

.exit {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
  opacity: 0.8;
}

.exit:hover {
  opacity: 1;
}
